.imgDim{
    width: 50%;
    height: 50%;
    margin-bottom: 10px;
    
}
.imgDim1{
    width: 40%;
    height: 40%;
}
.posterMaterialDimension{
    height: 130px;
    vertical-align: middle;

    
}


.dim{
    width: 30%;
}

.materialTextDimension{
   justify-content: center;
   align-items: center;
   vertical-align: text-bottom;
  
}
.details_la {
    margin-top: -10px;
}

.selectHead{
    font-size: 14px;
    font-weight: 600;


}
@media only screen and (max-width: 500px) {
    .materialTextDimension, .posterDimensionText{
        font-size: 13px;
        line-height: none;
    }
}